<%= form_for [current_user, @audition] do |f| %>
<div class="parent">
    <div class="div1 center medium">
        <table class="center">
            <tbody>
                <tr>
                    <td>
                        School
                    </td>
                    <td>
                        Date
                    </td>
                </tr>

                <tr>
                    <td class="medium">
                        <%= f.text_field :school %>
                    </td>
                    <td>
                        <%= f.date_field :date %>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Instruments (leave blank if unused)</p>
        <%= f.fields_for :instruments do |inst| %>
        <table class="center">
            <tbody>
                <tr>
                    <td>
                        Instrument Name
                    </td>
                    <td>
                        Available Spots
                    </td>
                </tr>

                <tr>
                    <td class="medium">
                        <%= inst.text_field :name %>
                    </td>
                    <td>
                        <%= inst.number_field :available_spots %>
                    </td>
                </tr>
            </tbody>
        </table>
        <% end %>

        <%= f.submit %>

    </div>
</div>
<% end %>