<div class="spacing">
    Welcome <%= current_user.name %>!
</div>
<h2 class="spacing big">Auditions</h2>

<div class="flex">
    <div class="boxColor box boxAlignment justify">
        <%= link_to "Largest Audition", largest_path(@player) %>
    </div>
</div>

<ol class="flex">

    <% @auditions.each do |audition| %>
    <li class="boxColor box">
        <div class="boxAlignment">
            <h2>
                <div class="noDecoration"><%= link_to audition.school, user_audition_path(current_user, audition) %></div>
                <div class="smallWhite"><%= audition.formatted_date %></div>
                <div class="smallWhite"><%= pluralize(audition.instrument_count, "instrument") %></div>
                <div class="smallWhite"><%= pluralize(audition.user_count, "user") %></div>
                <div class="smallWhite"><%= pluralize(audition.player_count, "player") %></div>
            </h2>
        </div>
    </li>
    <% end %>
</ol>