Welcome <%= current_user.name %>!

<h2>Auditions</h2>
<% @auditions.each do |audition| %>
<div>
    <%= link_to audition.school, user_audition_path(current_user, audition) %>
    <p>
        <%= audition.year.strftime("%Y") %>,
        <%= pluralize(audition.instruments.count, "instrument") %>,
        <%= pluralize(audition.users.count, "user") %>,
        <%= pluralize(audition.players.count, "player") %>
    </p>
</div>
<% end %>