<h2 class="spacing big"><%= @audition.school %></h2>
<div class="spacing">
    <%= @audition.date.strftime("%B %Y") %> ~ Audition Code: <%= @audition.code %>
</div>
<div class="flex">
    <div class="boxColor box boxAlignment justify">
        <%= link_to "New Player", new_audition_player_path(@audition) %>
    </div>
    <div class="boxColor box boxAlignment justify">
        <%= link_to "Edit Audition", edit_user_audition_path(@audition) %>
    </div>
</div>
<div class="flex">
    <% @audition.instruments.each do |instrument| %>
    <div class="boxColor box boxAlignment">
        <strong><%= instrument.name %></strong>
        <div class="small"><%= instrument.remaining_spots %> available</div>
        <% instrument.players.each do |player| %>
        <div class="small">
            <%= link_to "#{player.first_name} #{player.last_name}", audition_player_path(@audition, player) %>
        </div>
        <% end %>
    </div>
    <% end %>
</div>