<h2 class="spacing big"><%= @audition.school %></h2>
<div class="spacing">
    <%= @audition.formatted_date %> ~ Audition Code: <%= @audition.code %>
</div>
<div class="flex">
    <% if !@audition.instruments.blank? %>
        <div class="boxColor box boxAlignment justify">
            <%= link_to "New Player", new_audition_player_path(@audition) %>
        </div>
    <% end %>
    <div class="boxColor box boxAlignment justify">
        <%= link_to "Edit Audition", edit_user_audition_path(@audition) %>
    </div>
    <div class="boxColor box boxAlignment justify">
        <%= link_to "All Players", total_path(@audition) %>
    </div>
</div>
<div class="flex">
    <% if @audition.instruments.blank? %>
        <h2>Add Instruments by clicking Edit Audition above</h2>
    <% else %>
        <% @audition.instruments.each do |instrument| %>
        <div class="boxColor box boxAlignment">
            <strong><%= link_to instrument.name, edit_audition_instrument_path(@audition, instrument) %></strong>
            <div class="small">
                <%= instrument.available %>
            </div>
            <% instrument.players.each do |player| %>
            <div class="small">
                <%= link_to "#{player.full_name}", audition_player_path(@audition, player) %>
            </div>
            <% end %>
        </div>
        <% end %>
    <% end %>
</div>