<h1><%= @audition.school %></h1>
<h2><%= @audition.year.strftime("%B %Y") %></h2>
<h3>Audition Code: <%= @audition.code %></h3>

<div>
    <% @audition.instruments.each do |instrument| %>
    <div>
        <%= instrument.name %> - <%= instrument.remaining_spots %> available
        <% instrument.players.each do |player| %>
        <div>
            <%= link_to "#{player.first_name} #{player.last_name}", audition_player_path(@audition, player) %>
        </div>
        <% end %>
    </div>
    <% end %>
</div>
<div>
    <%= link_to "New Player", new_audition_player_path(@audition) %>
</div>