<%= render partial: 'layouts/errors', locals: {object: @user } %>

<div class="parent">
    <div class="div1 signup">
        <h1 class="center">Sign up</h1>

        <%= form_for :user do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit "Sign up" %>

        <% end %>
    </div>
</div>