<%= form_for [@audition, @player] do |f| %>
<div class="parent form">
    <div class="div1 center">
        <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
        </div>
        <div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
        </div>
        <div>
            <%= f.label :virtual %>
            <%= f.check_box :virtual %>
        </div>
        <div>
            <%= f.label :comment %>
            <%= f.text_area :comment %>
        </div>
        <div>
            <%= f.label :first_choice %>
            <%= f.text_field :first_choice %>
        </div>
        <div>
            <%= f.label :second_choice %>
            <%= f.text_field :second_choice %>
        </div>
        <div>
            <%= f.label :third_choice %>
            <%= f.text_field :third_choice %>
        </div>
        <%= f.fields_for :instruments do |ai| %>
        <div>
            <%= f.label :instruments %>
            <%= f.collection_select :instrument, @audition.instruments, :id, :name %>
        </div>
        <% end %>
        <div>
            <%= f.submit %>
        </div>
    </div>
</div>
<% end %>