<h2 class="spacing big">Show Player</h2>
<div class="flex">
    <div class="boxColor box boxAlignment justify">
        <div class="small">Name: <%= @player.full_name %></div>
        <div class="small">Virtual: <%= @player.affirmative %></div>
        <div class="small">Comments: <%= @player.comment %></div>
        <div class="small">First Choice: <%= @player.first_choice %></div>
        <div class="small">Second Choice: <%= @player.second_choice %></div>
        <div class="small">Third Choice: <%= @player.third_choice %></div>

        <div class="small">Audition: <%= link_to "#{@player.school} - #{@player.audition.formatted_date}", user_audition_path(current_user, @player.audition) %></div>
        <div class="small">Instrument: <%= @player.instrument.name %></div>
    </div>
</div>
<div class="flex">
    <div class="boxColor box boxAlignment justify">
        <%= link_to "Edit Player", edit_audition_player_path(@audition, @player) %>
    </div>
</div>
<div class="flex">
    <div class="boxColor box boxAlignment justify">
        <%= link_to "Delete Player", audition_player_path(@audition, @player), method: :delete %>
    </div>
</div>