<!DOCTYPE html>
<html>

<head>
    <title>Band Audition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>

<ul>
    <% if current_user %>
    <li class="nav"><%= link_to "Log Out", logout_path, method: :delete %></li>
    <li class="nav"><%= link_to "Join Audition", join_path %></li>
    <li class="nav"><%= link_to "New Audition", new_audition_path %></li>
    <li class="nav"><%= link_to "Auditions", user_auditions_path(current_user) %></li>
    <% end %>
</ul>

<body>
    <% if flash[:error] %>
    <div class="flash_error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
</body>

</html>