<!DOCTYPE html>
<html>
  <head>
    <title>BandAudition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%= link_to "Log Out", logout_path, method: :delete %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
