<!DOCTYPE html>
<html>

<head>
    <title>Band Audition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div>
    <% if current_user %>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Join Audition", join_path %>
    <%= link_to "New Audition", new_audition_path %>
    <%= link_to "Auditions", user_auditions_path(current_user) %>
    <% end %>
</div>

<body>
    <p><%= flash[:error] %></p>
    <%= yield %>
</body>

</html>